<!--New ion view and content to hold template-->
<ion-view>
<ion-content class="foodpage">

 <br/>
 <br/><!--line breaks-->

 <!--header bar-->
 <div class="bar bar-header bar-stable">
  <h1 class="title"><b>Cheesecake</b></h1>
 </div>

<!--div which holds an image of the food info is being given about, along with height and width attributes-->
  <div>
  <img src="img/Its-a-Snap_Cheesecake.jpg" alt="cheesecake" style="width:300px;height:200px">
 </div>

 <!--div class with preformatted text and styling containing ingredients-->
 <div class="foodcontent">
  <pre><!--preformatted text-->
 <b> Ingredients</b>
 <b> Crust</b><!--main parts of the dish made bold-->
 85g butter melted, plus extra for tin
 140g digestive biscuits, made into fine crumbs
 1 tbsp sugar, granulated or golden caster

 <b> Cheesecake</b>
 3 x 300g/11oz pack Philadelphia cheese, or other full-fat soft cheese
 250g golden caster sugar
 3 tbsp plain flour
 1½ tsp vanilla extract
 finely grated zest of 1 lemon (about 2 tsp)
 1½ tsp lemon juice
 3 large eggs, plus 1 yolk           <!--ingredients are listed here-->
 284ml carton soured cream
  
 <b> Soured cream topping</b>
 142ml carton soured cream
 1 tbsp golden caster sugar
 2 tsp lemon juice
  </pre>
 </div>

 <!--button which links back to the home menu and styling-->
 <div>
  <button class="button button-royal" ui-sref="tabs.home">
    Back to home
  </button>
 </div> 

  <!--Form controlled with radio buttons containing different calory sizes for portions, using controller-->
 <div class="list"><!--create a new list-->

  <label class="item item-radio"><!--new radio button with ng-model-->
    <input type="radio" name="group" ng-model="portion.size" value="160">
    <div class="item-content">
      Small Portion<!--text inside the button-->
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <!--second radio button-->
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="410">
    <div class="item-content">
      Medium Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

<!--value displays the outputted value when clicked-->
   <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="934">
    <div class="item-content">
      Large Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  <b><tt>CALORIES: {{portion.size | json }}</tt></b><br/><!--output with controller-->
  </label><!--last radio button closing-->

 </div><!--closing tag for list div-->
</ion-content>
</ion-view><!--close ion view and content-->
