<!--new ion view and content-->
<ion-view>
<ion-content class="foodpage">

 <br/>
 <br/><!--line breaks-->

 <!--header bar-->
 <div class="bar bar-header bar-stable">
  <h1 class="title"><b>Chocolate</b></h1>
 </div>

<!--create new div which holds image of food along with its css attributes-->
 <div>
  <img src="img/chocolate1.jpg" alt="chocolate" style="width:300px;height:200px">
 </div>

 <!--div class with preformatted text and styling containing ingredients-->
 <div class="foodcontent">
  <pre>
<b> Ingredients</b><!--here we have preformatted text and bold for main part-->
 Full Cream Milk
 Sugar
 Cocoa Butter
 Cocoa Mass
 Milk Solids                       <!--ingredients-->
 Emulsifiers (Soy Lecithin, 476)
 Milk Chocolate contains Cocoa Solids 26%, Milk Solids 28%. Allergen Statement: Contains Milk and Soy. May contain traces of Wheat, Egg, Peanuts and Tree Nuts.
  </pre>
 </div>

<!--button which links back to the home menu and styling-->
 <div>
  <button class="button button-royal" ui-sref="tabs.home">
    Back to home<!--text for inside of button-->
  </button>
 </div>

 <!--Form controlled with radio buttons containing different calory sizes for portions, using controller-->
 <div class="list"><!--create a new list-->

  <label class="item item-radio"><!--new radio button with ng-model-->
    <input type="radio" name="group" ng-model="portion.size" value="150">
    <div class="item-content">
      Small Portion<!--text inside the button-->
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  
  <!--second radio button-->
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="400">
    <div class="item-content">
      Medium Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
 
<!--value displays the outputted value when clicked-->
   <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="870">
    <div class="item-content">
      Large Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  <b><tt>CALORIES: {{portion.size | json }}</tt></b><br/><!--output with controller-->
  </label><!--last radio button closing-->

 </div><!--closing tag for list div-->
</ion-content><!--close ion view and content-->
</ion-view>
