<!--create new ion view and content to hold the template-->
<ion-view>
<ion-content class="foodpage">

 <br/>
 <br/><!--line breaks-->

 <!--header bar-->
 <div class="bar bar-header bar-stable">
  <h1 class="title"><b>Doughnut</b></h1>
 </div>

<!--new div which holds an image along with inline style css attibutes-->
 <div>
  <img src="img/donuts.jpg" alt="doughnut" style="width:300px;height:200px">
 </div>
 
 <!--div with preformatted text and css ctyling to hold the foods ingredients-->
 <div class="foodcontent">
  <pre><!--preformatted text tag-->
 <b> Ingredients</b>
70g (2 1/2 oz) butter
500g (1 1/4 lb) plain flour
1 teaspoon baking powder <!--ingredients-->
70g (2 1/2 oz) sugar
1 egg
260ml (9 fl oz) milk
vegetable oil for frying
  </pre>
 </div>

 <!--button to link back to the home page with styling-->
 <div>
  <button class="button button-royal" ui-sref="tabs.home">
    Back to home
  </button>
 </div>

  <!--Form controlled with radio buttons containing different calory sizes for portions, using controller-->
 <div class="list"><!--create a new list-->

  <label class="item item-radio"><!--new radio button with ng-model-->
    <input type="radio" name="group" ng-model="portion.size" value="100">
    <div class="item-content">
      Small Portion<!--text inside the button-->
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <!--second radio button-->
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="245">
    <div class="item-content">
      Medium Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

<!--value displays the outputted value when clicked-->
   <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="560">
    <div class="item-content">
      Large Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
 <b><tt>CALORIES: {{portion.size | json }}</b></tt><br/><!--output with controller-->
  </label><!--last radio button closing-->

 </div><!--closing tag for list div-->
</ion-content>
</ion-view><!--close ion view and content tags-->
