<!--New ion view and content containing the temp,ate-->
<ion-view>
<ion-content class="foodpage">

 <br/>
 <br/><!--line breaks-->

 <!--header bar-->
 <div class="bar bar-header bar-stable">
  <h1 class="title"><b>Doner Kebab</b></h1>
 </div>

<!--new div which holds an image of the food along with css inline styling-->
  <div>
  <img src="img/Istanbul-meats-donner-kebab1-1100x448.jpg" alt="kebab" style="width:300px;height:200px">
 </div>

<!--div with preformatted text and css ctyling to hold the foods ingredients-->
 <div class="foodcontent">
  <pre><!--preformatted text tag-->
 <b> Ingredients</b>
200g lean lamb leg steaks (probably 2 steaks)
200g lean minced lamb
½ medium onion, roughly chopped
1 tsp ground coriander
1 tsp ground cumin
1 tsp flaked sea salt
1 tsp plain flour
4 white or wholemeal pitta breads (each about 60g)
Oil, for spraying
Hot chilli sauce (optional)
Freshly ground black pepper    <!--ingredients-->
Garlic sauce
4 tbsp fat-free yoghurt
1 large garlic clove, crushed
pinch of flaked sea salt
2 large tomatoes, sliced
100g cucumber, sliced
Shredded lettuce,
Pickled chillies, finely shredded (optional)
White cabbage and red onion rings (optional)
  </pre>
 </div>

<!--button which links back to the homepage with styling-->
 <div>
  <button class="button button-royal" ui-sref="tabs.home">
    Back to home<!--text for the button-->
  </button>
 </div>
  
  <!--Form controlled with radio buttons containing different calory sizes for portions, using controller-->
 <div class="list"><!--create a new list-->

  <label class="item item-radio"><!--new radio button with ng-model-->
    <input type="radio" name="group" ng-model="portion.size" value="250">
    <div class="item-content">
      Small Portion<!--text inside the button-->
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <!--second radio button-->
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="765">
    <div class="item-content">
      Medium Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

<!--value displays the outputted value when clicked-->
   <label class="item item-radio">
    <input type="radio" name="group" ng-model="portion.size" value="1248">
    <div class="item-content">
      Large Portion
    </div>
    <i class="radio-icon ion-checkmark"></i>
   <b><tt>CALORIES: {{portion.size | json }}</tt></b><br/><!--output with controller-->
  </label><!--last radio button closing-->

 </div><!--closing tag for list div-->
</ion-content>
</ion-view><!--end of ion view and content-->
